@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,900&display=swap");
@import url("variables.css");

/* ----- FOOTER ----- */
footer {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    padding: 20px 0 0 0;
    background: var(--footer-color-web);
    color: var(--footer-color-lettering);
    font-size: 15px;
}

footer .gob,
footer .min,
footer .cyt,
footer .information,
footer .developers {
    text-align: center;
    align-self: center;
    padding: 10px 0;
}

footer .gob img,
footer .min img,
footer .cyt img,
footer .information img {
    width: auto;
    height: 50px;
}

footer .developers {
    background-color: #fafafa;
    padding: 1em;
    color: #363636;
    font-size: 13px;
    width: 100%!important;
}

footer .social-media {
    padding-top: 0.5em;
}

footer .social-media i,
footer .developers i {
    color: var(--footer-color-lettering);
    margin: 6px;
    font-size: 16px;
}

i.icon-facebook:hover {
    color: #3b5998;
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 0.2em;
}

i.icon-instagram:hover {
    color: #d6249f;
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 0.2em;
}

i.icon-twitter:hover {
    color: #00acee;
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 0.2em;
}

i.icon-globe:hover {
    color: #f56040;
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 0.2em;
}

i.icon-github-circled:hover {
    color: #8b389b;
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 0.1em;
}

/* ----- MEDIAQUERY ----- */
@media screen and (min-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "cyt min" "gob info" "dev dev";
        font-size: 16px;
    }

    footer .gob {
        grid-area: gob;
    }
    
    footer .min {
        grid-area: min;
    }

    footer .cyt {
        grid-area: cyt;
    }

    footer .information {
        grid-area: info;
    }

    footer .developers {
        grid-area: dev;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        grid-area: footer;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "cyt min gob info" "dev dev dev dev";
        font-size: 15px;
        height: auto;
        padding: 20px 0 0 0;
        background: var(--footer-color-web);
        color: var(--footer-color-lettering);
    }
    
    footer .gob {
        grid-area: gob;
    }
    
    footer .min {
        grid-area: min;
    }
    
    footer .cyt {
        grid-area: cyt;
    }
    
    footer .information{
        grid-area: info;
    }
}
