:root {

    /* Dashboard */
    --first-color           : #e52f2f;
    --first-color-alt       : rgba(212, 113, 19, 0.3);
    --second-color          : white; /* También es un color de website pero fijo, no se cambia */
    --third-color           : black; /* También es un color de website pero fijo, no se cambia */
    --fourth-color          : gray; /* También es un color de website pero fijo, no se cambia */
    --body-color            : #F0F0F0;
    --hover-color           : #e05b5b;
    --login-color           : rgb(63, 63, 63);
    --border-color          : rgba(53, 53, 53, 0.2);
    --footer-color          : #565151;

    /* Website */
    --first-color-web       : #FF9800; 

    --nav-color-lettering   : white; 
    --nav-color-hover       : rgb(253, 172, 49);

    --title-color           : black;
    --border-gradient       : linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

    --footer-color-web      : #565151;
    --footer-color-lettering: white;
}